.country-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}


@media screen and (max-width: 767px){
    .country-container{
        grid-template-columns: repeat(1, 1fr);

    }
}

.flag-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    gap: 10px;
    
}
.flag-container img{
    height: 100%;
    width: auto;
    max-width: 100px;
    object-fit: contain;
}